<link href="css/style.css" rel="stylesheet"/>
<div class="container-fluid">
     <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>

    <form name="loginform" novalidate>
        <div class="form-group">
        <label for="username">Username</label>
        <input type="text"
               name="username"
               ng-model="username"
               id="username"
               class="form-control"
               placeholder="bob123" required/>
        </div>
        <div ng-show="loginform.username.$invalid && loginform.$submitted" class="alert alert-danger">Username is required </div>
        <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               name="password"
               ng-model="password"
               id="password"
               class="form-control"
               placeholder="Qwerty@1234" required /></div>
        <div ng-show="loginform.password.$invalid && loginform.$submitted" class="alert alert-danger">Password is required </div>
        <input type="submit" value="Login"  class="btn btn-primary btn-block"
           ng-click="model.login(username, password)">
    <a href="/auth/google" class="btn btn-danger btn-block">
        <span class="fa fa-google-plus"></span>
        Google
    </a>
        <a class="btn btn-success btn-block"
           href="#!/register">Register</a>
    </form>
    </div>
