<link href="css/style.css" rel="stylesheet"/>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-text pull-left fixed-top-header-arrow">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
            </a>
            <span class="fixed-top-header">Choose Widget</span>

        </div>
    </div>
</nav>

<div class="container-fluid">
<ul class="list-group">
    <li class="list-group-item"><a ng-click="model.createHeading()">Header</a> </li>
    <li class="list-group-item"><a ng-click="model.createHeading()">Label</a> </li>
    <li class="list-group-item"><a ng-click="model.createHtml()">HTML</a> </li>
    <li class="list-group-item"><a ng-click="model.createText()">Text Input</a> </li>
    <li class="list-group-item"><a ng-click="model.createImage()">Image</a> </li>
    <li class="list-group-item"><a ng-click="model.createYoutube()">Youtube</a> </li>

</ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-right fixed-top-header-arrow">
                <a href="#!/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
